<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agregar empleado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar empleado</ion-title>
    </ion-toolbar>
  </ion-header>
  <form (ngSubmit)="onSubmit(nombre.value,paterno.value,materno.value,img.value)">

      <ion-item>
        <ion-input #nombre type="text" name="title" placeholder="Nombre" color="primary"></ion-input>
      </ion-item>
      <br/>
      <ion-item>
        <ion-input #paterno type="text" placeholder="Apellido Paterno" color="primary"></ion-input>
      </ion-item>
      <br/>
      <ion-item>
        <ion-input #materno type="text" placeholder="Apellido Materno" color="primary"></ion-input>
      </ion-item>
      <br/>
      <ion-item>
        <ion-input #img name="description" placeholder="Imagen (URL)" color="primary"></ion-input>
      </ion-item>
      <br/>
      <ion-button expand="full" type="submit">Agregar</ion-button>

  </form>
</ion-content>
