<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Asistencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asistencias</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-item *ngFor="let usuario of cruzada" value="usuario">
      <ion-thumbnail slot="start">
        <img src={{usuario.imagen}}>
      </ion-thumbnail>
      <ion-label>{{usuario.nombre}} {{usuario.apellidoP}} {{usuario.apellidoM}}</ion-label> 
      <ion-checkbox color="{{usuario.color}}" checked="true" disabled="true"></ion-checkbox>
    </ion-item>
</ion-content>
