<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="checkbox"></ion-icon>
      <ion-label>Asistenacias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Añadir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="build"></ion-icon>
      <ion-label>Editar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
