<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Editar Empleados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">prueba</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item *ngFor="let usuario of usuarios" value="usuario">

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{usuario.nombre}} {{usuario.apellidoP}} {{usuario.apellidoM}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <img src={{usuario.imagen}}>
        <ion-button (click)="presentActionSheet(usuario.empleado_id,usuario.nombre,usuario.apellidoP,usuario.apellidoM,usuario.imagen)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="delete(usuario.empleado_id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-item>

</ion-content>
